PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
PRODUCT_HUNT_DEVELOPER_TOKEN=buraya_product_hunt_developer_token_yaz

# V1 hizli canli ornek:
# CLIENT_ORIGIN=https://apinex-ui.vercel.app

# 2. asama profesyonel ornek:
# CLIENT_ORIGIN=https://app.apinex.ai

# Birden fazla origin gerekiyorsa virgulle ayir:
# CLIENT_ORIGIN=https://apinex-ui.vercel.app,https://app.apinex.ai
